BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TELEMETRY=0

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/better_auth
RUN_MIGRATIONS=true

AVATAR_S3_ACCESS_KEY_ID=GK3515373e4c851ebaad366558
AVATAR_S3_SECRET_ACCESS_KEY=7d37d093435a41f2aab8f13c19ba067d9776c90215f56614adad6ece597dbb34
AVATAR_S3_BUCKET=avatars
AVATAR_S3_ENDPOINT=http://localhost:3900
AVATAR_S3_REGION=garage
AVATAR_PUBLIC_BASE_URL=http://avatars.web.garage.localhost:3902/
AVATAR_S3_FORCE_PATH_STYLE=true

ORIGINS="http://localhost:5173,http://localhost:3000"
COOKIE_DOMAIN=app.example.com

NODE_ENV=development # or 'production'
EMAIL_PASSWORD_AUTH=true
LINK_ACCOUNTS=true
